li {
    margin: 15px 0;
    padding: 20px 13px;
    border: 1px solid #ccc;
    background: #fafafa;
    list-style: none;
    border-radius: 7px;
}
li {
    margin: 15px 0;
    padding: 20px 13px;
    border: 1px solid #ccc;
    background: #fafafa;
    list-style: none;
    border-radius: 7px;
}
p {
    margin-top: 15px;
}